@charset "UTF-8";

.goodsDetailContent{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
	display: block;
	font-size: 20px;
	margin-top: -20px;
}

.image-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.image-background img {
  max-width: 40%;
  margin-left: 380px;
  margin-top:30px;	
}

.content {
  width:450px;
  margin-right: 430px; /* 간격 조정을 위해 값을 조정해보세요 */
  margin-top:80px;
  align-items: flex-start; /* content 영역의 요소들을 왼쪽으로 정렬 */ 
}

.content p, .content .text-right {text-align: left;}

#orderButton, #cartButton {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
	color:white;
    font-weight: bold;
    /* 버튼을 커스터마이즈할 때 외곽선 */
    border: 0;
    outline: 0;
}
.goodsName{font-size:36px;font-weight: bold;margin-bottom:10px;}

.price{font-size: 20px; font-weight: bold;}

.100_price{font-size: 14px;}

#orderButton{background-color: #FFFFFF; color: black; border: 1px solid #000000;} /* 10-17 변경된 부분 */

#cartButton{background-color:#4285f4;} /* 10-17 변경된 부분 */

.cartStock{width:360px;}

.option{font-size: 18px; font-weight: 400;margin-left: 18px;} 

.numBox{width:215px;text-align: center; }

.numBox, #delivery_option {
    /* 공통 스타일 */
    height: 30px;
    width: 310px;
    padding: 0 5px; /* 내부 여백을 설정하여 텍스트와 보더 간의 간격 조정 */
    font-size: 15px;
    border: 1px solid #E8E8E8;
    text-align: center;
  }

.numBox {
  height: 30px; /* 인풋 요소의 높이를 버튼과 동일하게 설정합니다. */
  width: 249px; /* 인풋 요소의 너비를 원하는 값으로 설정합니다. */
  text-align: center; /* 숫자를 중앙 정렬합니다. */
  padding: 0; /* 기본적인 padding 값을 0으로 설정합니다. */
 }

.minus, .plus{
	background: transparent;  border: 1px solid #E8E8E8; cursor: pointer;text-align: center;width: 30px;
	
    height: 30px;
    font-weight: bold;
}

.cartStock {
   display: flex; /* 요소들을 가로로 배치 */
   align-items: center; /* 요소들을 수직 중앙 정렬 */
}

table {
   width: 450px;
   margin-bottom: 30px;
   border-collapse: separate; /* 셀의 경계를 합치지 않음 */
}

td {
   padding-right: 10px;
   vertical-align: middle;
}

td.numBox-cell {
  padding-right: 0; /* 수량 input 셀의 오른쪽 패딩 제거 */
}

.option-row  {height: 45px;}

.text-right {margin-left: 20px;}
  
.numBox-cell {
  display: flex; /* Flexbox를 사용하여 내부 요소들을 수평 정렬합니다. */
  align-items: center; /* 내부 요소들을 수직으로 중앙 정렬합니다. */
}

.numBox-cell button {
  height: 30px; /* 버튼의 높이를 원하는 값으로 설정합니다. */
}

	/* Style the buttons that are used to open the tab content */
	.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
	}
	
	/* Change background color of buttons on hover */
	.tab button:hover {
		text-decoration: underline;
	}
	
	/* Create an active/current tablink class */
	.tab button.active {
		color: black;
		text-decoration: underline;
	}
	
	/* Style the tab content */
	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	}
	.tab{
	    display: flex;
	    justify-content: center;
	    text-align: center;
	    height: 100px;
	    border-bottom: 1px solid #ccc;
	}
	.tab .tablinks{
	height: 100px;
	width: 200px;
	font-weight: 700;
	font-size: 20px;
	color: #909090;
	}
	.tab-menu{
	font-family: 'Noto Sans KR', sans-serif;
	}
	#goodsDetail .goods_detail{
	   justify-content: center;
	    text-align: center;
	}

	.goods_detail img {
	  display: block; /* 이미지들을 블록 레벨 요소로 설정하여 아래로 배치 */
	  margin: 10px auto; /* 이미지들을 가운데 정렬하기 위해 margin 사용 */
	}
	
	/* 첫 번째 열의 모든 <td> 요소의 너비를 늘립니다. */
	#goodsInfo .goods_info table  {
	   justify-content: center;
	}
	#goodsInfo .goods_info{
		font-family: 'Noto Sans KR', sans-serif;
 		margin-left: 30px;;
	   	}
	.tab-menu {
	   text-align: center; /* 텍스트를 중앙에 정렬합니다. */
	}
	
	.goods_detail_tab {
	   display: inline-block; /* 테이블을 블록 레벨로 표시하여 중앙에 정렬합니다. */
	   text-align: left; /* 테이블 안의 텍스트는 왼쪽으로 정렬합니다. */
	   width:65%;
	   margin-bottom: 30px;
	}
	
	.goodsInfo_table{
		border-collapse: separate; /* 테이블 경계를 병합하지 않고 개별적으로 표시 */
	    border-spacing: 0; /* 테이블 셀 간격 없음 */
	    border-top: 1px solid #000000; /* 테이블 상단 테두리 설정 */
	    border-bottom: 1px solid #000000; /* 테이블 하단 테두리 설정 */
	    width:90%;
 		padding: 10px 0; /* 행 간격을 조절하기 위해 padding 값을 설정합니다. */
	    border-spacing: 0 10px; /* 상하 여백은 0, 좌우 여백은 10px로 설정 */
	    font-size:15px;
	}
	.goods_info_title{
		font-size:30px;
		font-weight: 700;
		margin-top: 20px;
	}