@charset "UTF-8";

.row1 {
	margin: 0px auto;
	width: 600px;

}

#asas {
	text-align: center;
	justify-content: center;
}

h1 {
	text-align: center;
	margin-top: 50px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 20px;
}

.bbu {
	border-bottom: 1px solid #ddd;
}

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .button-container a {
    margin-right: 3px; /* 필요한 경우 버튼 사이에 간격을 추가하세요 */
  }

.greylist {
	font-family: 'Noto Sans KR', sans-serif;
	width: 80px;
	height: 40px;
	font-weight: 700;
	font-size: 16px;
	color: white;
	text-align: center;
	background: #1D1D1D;
	border-radius: 5px;
	
}

.greylist:hover {
	background-color: #6CC148;
	border: solid 2px white;
	color: white;
}

.greylist a {
	text-decoration-line: none;
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
	color: white;
	
}

.atw {
	text-decoration-line: none;
	text-decoration: none;
	color: white;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	display: block;
	font-size: 17px;
}

.writeButton {
	float: right;
}

.fg {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	font-size: 15px;
}

.fgl {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 17px;
	padding:5px;
	margin: 0;
}

.fw {
	color: white; 	
}

.lb {
	background-color: #292929;
}

.rightbtn {
	float: right;
}

.text-center{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 17px;
}